<h1>Hospital Edit</h1>

<div class="row justify-content-center">
  <%= form_with model: @hospital  do |form|%>
    <div class="form-group">
      <%=form.label :Name%>
      <%= form.text_field :name, placeholder: 'Enter Your Name'%>
    </div><br>
    <div class="form-group">
      <%=form.label :City_name%>
      <%= form.text_field :city,  placeholder: 'Enter City Name'%>
    </div><br>
    <div class="form-group">
      <%=form.label :User_Id %>
      <%= form.text_field :user_id,  placeholder: 'Enter City Name'%>
    </div><br>
    <div class="form-group">
          <%= form.submit "Edit hospital", class: 'btn btn-primary'%>
        </div>
  <%end%>
</div>